
:root {
    --blue: #072ac8;
    --dark-blue: #031e80;
    --turquoise: #43d2ff;
    --light-blue: #a2d6f9;
    --super-light-blue: #d1edff;
    --dark-grey: #292e47;
    --grey: #6b708d;
    --light-grey: #f2f4fc;
    --grey-light-blue: #ECf7ff;
    --yellow: #ffc600;
    --white: #F4F6FC;
  }